{% extends 'base.html' %}
{% block content %}
{% load static %}

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area bg-image" data-bgimage="{% static 'assets/img/bg/page-banner.jpg' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title color--white">Azure</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Services</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="blog-area pt--100 pt-lg--80 pt-md--70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 ml-auto order-lg-2 mb-md--70">
                            <!-- Blog Post Start -->
                            <div class="blog-post mb--30">
                                <div class="inner">
                                    <div class="post-info">                                        
                                        <div class="post-header">
                                            <h1 class="post-title">Azure</h1>
                                        </div>
                                        <div class="post-content">	
											<p><span class="dropcap">A</span>zure is a comprehensive cloud computing platform provided by Microsoft. It offers a wide range of cloud services that enable businesses to build, deploy, and manage applications and services through Microsoft-managed data centers. Azure provides a flexible and scalable environment for businesses to leverage various computing resources and technologies.</p>
											</p>
											<p>Azure offers a vast array of services across multiple categories, including compute, storage, databases, networking, analytics, artificial intelligence, machine learning, Internet of Things (IoT), security, and more. Some key services provided by Azure include:</p>
											
											<div class="post-thumbnail format-image">
												<img src="{% static 'assets/img/services/31.jpg' %}" alt="It Services">
											</div>
											
											<p><b>Azure Virtual Machines:</b> Virtual Machines allow businesses to deploy virtual servers in the cloud, providing flexibility in terms of operating systems, configurations, and scalability.</p>
											
											<p><b>Azure Storage:</b> Azure Storage provides scalable and secure storage options for various types of data, including blobs, files, tables, and queues. It offers durability, availability, and high scalability.</p>

											<p><b>Azure SQL Database:</b> SQL Database is a fully managed, intelligent relational database service that allows businesses to store and manage data with built-in security, automatic backups, and high availability.</p>

											<p><b>Azure App Service:</b> App Service enables businesses to build, deploy, and scale web, mobile, and API applications using various programming languages and frameworks. It provides built-in integration with Azure Active Directory and other Azure services.</p>

											<p><b>Azure Functions:</b> Functions is a serverless compute service that allows businesses to run code on-demand without provisioning or managing servers. It supports event-driven scenarios and can be used for microservices architecture and application integration.</p>

											<p><b>Azure Cognitive Services:</b> Cognitive Services offer pre-built AI capabilities, including vision, speech, language, and search APIs. It enables businesses to incorporate advanced AI features into their applications without requiring deep AI expertise.</p>
											
											<p><b>Azure IoT Hub:</b> IoT Hub allows businesses to connect, monitor, and manage IoT devices at scale. It provides secure device-to-cloud and cloud-to-device messaging, device provisioning, and IoT device management capabilities.</p>
												
											<p><b>Azure DevOps:</b> DevOps is a set of development tools and services that enable businesses to plan, develop, test, and deploy applications with high speed and efficiency. It covers areas such as source control, continuous integration/continuous deployment (CI/CD), and application monitoring.</p>


											
											<!-- <div class="row">
                                                <div class="col-md-12 col-12">
													<ul class="list-with-icon mb--30">
														<li><b>IT Service Management (ITSM):</b> ServiceNow provides a comprehensive set of ITSM capabilities to streamline and automate IT service delivery and support processes. This includes incident management, problem management, change management, service catalog, asset management, and service level management.</li>
														<li><b>IT Operations Management (ITOM):</b> ServiceNow's ITOM suite helps organizations gain visibility and control over their IT infrastructure and operations. It includes capabilities such as event management, infrastructure discovery, service mapping, cloud management, and configuration automation.</li>
														<li><b>IT Business Management (ITBM):</b> ServiceNow's ITBM solutions enable organizations to align their IT resources and investments with business priorities. It encompasses project portfolio management, resource management, demand management, financial management, and agile development.</li>
														<li><b>Customer Service Management (CSM):</b> ServiceNow CSM focuses on delivering exceptional customer service experiences. It provides tools for case management, self-service portals, knowledge management, and omni-channel support to help organizations enhance customer satisfaction and loyalty</li>
														<li><b>Human Resources Service Delivery (HRSD):</b> ServiceNow's HRSD solutions automate and streamline HR service delivery processes. This includes employee onboarding, case management, employee self-service portals, HR knowledge base, and HR process automation.</li>
														<li><b>Security Operations:</b> ServiceNow's Security Operations solution helps organizations detect, respond to, and resolve security incidents effectively. It includes capabilities like threat intelligence, vulnerability response, security incident response, and security operations analytics.</li>
														<li><b>Governance, Risk, and Compliance (GRC):</b> ServiceNow GRC solutions assist organizations in managing risks, complying with regulations, and implementing effective governance processes. It includes capabilities for policy and compliance management, risk management, audit management, and vendor risk management.</li>
														<li><b>Software Development Lifecycle (SDLC):</b> ServiceNow offers tools to streamline and automate the software development lifecycle. This includes agile development, release management, test management, and application portfolio management.</li>
														<li><b>Custom App Development:</b> ServiceNow provides a platform for building custom applications tailored to specific business needs. Organizations can create their own applications or extend the capabilities of ServiceNow's existing solutions.</li>
													</ul>	
												
                                                </div>
                                                 <div class="col-md-6 col-12">
													<h2>Areas</h2>					
													<ul class="list-with-icon mb--30">
														<li>Corporate Strategy and Planning</li>
														<li>Global Sales and Marketing</li>
														<li>Business solutions</li>
														<li>Business Transformation Services</li>
														<li>Cost & Productivity Optimization Services</li>
														<li>Product Lifecycle Optimization Services</li>
														<li>Process Excellence Services</li>
														<li>Operational Efficiency</li>
														<li>Performance Management</li>
														<li>IT Governance</li>
														<li>IT Process Transformation</li>
														<li>IT Operations & Service Management</li>
														<li>Risk and compliance</li>
													</ul>
                                                </div> 
                                            </div>  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <div class="sidebar-wrap">
                                <div class="sidebar-widget widget-border">
                                    <h4 class="widget-title">Our Services</h4>
                                    <div class="sidebar-widget-link">
                                        <ul>
											<li><a href="product-engineer.html">Product Engineer</a></li>
                                            <li><a href="servicenow.html">ServiceNow</a></li>
                                            <li><a href="atlassian.html">Atlassian</a></li>
                                            <li><a href="dynamic-three.html">Dynamics 365</a></li>
                                            <li><a href="power-apps.html">Power Apps</a></li>
                                            <li><a href="amazon-web-services.html">Amazon Web Services</a></li>
                                            <li><a href="azure.html">Azure</a></li>
                                            <li><a href="devops.html">Devops</a></li>
                                            
                                            
                                            
                                            
                                            <li><a href="recruitments.html">Recruitments</a></li>
                                            <li><a href="work-day.html">Work Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

    {% endblock %}