{% extends 'base.html' %}
{% block content %}
{% load static %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area bg-image" data-bgimage="{% static 'assets/img/bg/page-banner.jpg' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title color--white">Contact Us</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Contact</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <!-- About Area Start -->
            <section class="about-area" style="padding: 40px 40px 40px 40px">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="contact-section">
								<div class="map">
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3234.539001142508!2d-78.61629262521456!3d35.83578482147014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac58e2376bad3b%3A0x57d123b3af08868c!2s4030%20Wake%20Forest%20Rd%20%23349%2C%20Raleigh%2C%20NC%2027609%2C%20USA!5e0!3m2!1sen!2sin!4v1689851415195!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
								</div>
                            </div>
                        </div>
						<div class="col-lg-6">
							<div class="contact-section">
								<div class="contact-form">
									<center><h1>Contact Form</h1></center><br>
									<form action="#" method="post" id="form contact-form row contactusForm" novalidate="novalidate" class="col rounded-field form-contact">
										<div class="row">
											<div class="col-xl-6">
												<div class="comment-form__input-box form__group mb--30">
												 <input type="text" name="name" id="name" class="form-control form__input" placeholder="First Name">
													
												</div>
											</div>
											<div class="col-xl-6">
												<div class="comment-form__input-box form__group mb--30">
													 <input type="text" name="namel" id="namel" class="form-control form__input" placeholder="Last Name" required>
													
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-6">
												<div class="comment-form__input-box form__group mb--30">
													<input type="text" name="phone" id="phone" class="form-control form__input" placeholder="Phone Number" required>
													
												</div>
											</div>
											<div class="col-xl-6">
												<div class="comment-form__input-box form__group mb--30">
													<input type="email"  class="form-control form__input" placeholder="Email Address" name="email" id="email " required>
												   
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xl-12">
												<div class="comment-form__input-box form__group mb--30">
													<textarea rows="3" name="message" id="cment" placeholder="Message" class="form__input form__input--textarea form-control"></textarea>
													
												</div>
											 
								
											<button name="contactForm" id="contactForm" type="submit" class="form-btn mx-auto btn-theme bg-orange form-button btn btn-dm thm-btn">Submit Now <i class="icofont-rounded-right"></i></button>
											</div>										
										</div>                              
									</form>
								</div>
							</div>
						</div>
					</div>
            </section>
            <!-- About Area End -->
			
			
        </main>
        <!-- Main Wrapper End -->

    {% endblock %}