{% extends 'base.html' %}
{% block content %}
{% load static %}


				
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="single-slide slider-height bg-overlay-black d-flex align-items-center height1"
                style="background-image: url('{% static 'assets/img/slider/slider-1.png' %}');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12">
                            <div class="slider-content">
                                <h1 class="mb--30 mb-xl--20" data-animation="fadeInUp" data-duration=".4s"
                                    data-delay="1s">Product Engineer
                                </h1>
                                <p class="mb--25" data-animation="fadeInUp" data-duration=".4s" data-delay="1.2s">
                                    Product Engineering is the process of innovating, designing, developing, testing and
                                    deploying a software
                                    product
                                </p>
                                <a href="product-engineer.html" class="btn btn-shape-round btn-hover-1"
                                    data-animation="fadeInUp" data-duration=".4s" data-delay="1.4s">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slide slider-height bg-overlay-black d-flex align-items-center height1"
                style="background-image: url({% static 'assets/img/slider/slider-2.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12">
                            <div class="slider-content">
                                <h1 class="heading__primary mb--30 mb-xl--20"><span class="heading__primary--main"
                                        data-animation="fadeInUp" data-duration=".4s" data-delay="1s">Amazon Web
                                        Services</span></h1>
                                <p class="mb--25" data-animation="fadeInUp" data-duration=".4s" data-delay="1.2s">
                                    Amazon Web Services (AWS) is a comprehensive cloud computing platform offered by
                                    Amazon. It provides a wide
                                    range of scalable and cost-effective services
                                </p>
                                <a href="amazon-web-services.html" class="btn btn-shape-round btn-hover-1"
                                    data-animation="fadeInUp" data-duration=".4s" data-delay="1.4s">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="single-slide slider-height bg-overlay-black d-flex align-items-center height1"
                style="background-image: url({% static 'assets/img/slider/slider-3.png' %});">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 col-12">
                            <div class="slider-content">
                                <h1 class="heading__primary mb--30 mb-xl--20"><span class="heading__primary--main"
                                        data-animation="fadeInUp" data-duration=".4s" data-delay="1s">Devops</span></h1>
                                <p class="mb--25" data-animation="fadeInUp" data-duration=".4s" data-delay="1.2s">
                                    DevOps is a set of practices that combines software development (Dev) and IT
                                    operations (Ops) to enable
                                    organizations to deliver applications,
                                </p>
                                <a href="devops.html" class="btn btn-shape-round btn-hover-1" data-animation="fadeInUp"
                                    data-duration=".4s" data-delay="1.4s">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- Main Wrapper Start -->
			

                <!-- About Area Start -->
                <section class="about-area">
                    <div class="container-fluid">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="about-section">
                                    <div class="about__content">
                                        <h2 class="about__title">About Vsolve IT</h2>
                                        <div class="about__text mb--30">
                                            <p>At Vsolve IT, we are a leading provider of software development, IT outsourcing, and IT
                                                consulting services. With a passion for innovation and a commitment to excellence, we
                                                help businesses harness the power of technology to drive growth, streamline operations,
                                                and stay ahead of the competition.</p>
                                            <p>Our team consists of highly skilled professionals with extensive experience in the
                                                software development and IT industry. We bring together a diverse range of expertise,
                                                including software engineers, project managers, consultants, and support specialists, to
                                                deliver comprehensive solutions that meet the unique needs of our clients.</p>
                                        </div>
                                        <a href="about.html" class="btn btn-shape-square">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{% static 'assets/img/bg/what-we-do.png' %}">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- About Area End -->
                
                <!-- Services Areas Start -->
                <section class="services-area bg-color pt--95 pt-lg--75 pt-md--65 pb--100 pb-lg--75 pb-md--20" data-bgcolor="#fafafa">
                    <div class="container-fluid">
                        <div class="row justify-content-center mb--57 mb-md--47">
                            <div class="col-xl-6 col-lg-8">
                                <div class="section-title text-center">
                                    <h2>Our Services</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-md--50">
                                <div class="service text-center bg-image" data-bgimage="{% static 'assets/img/bg/service-1.png' %}">
                                    <div class="service__icon"><img src="{% static 'assets/img/bg/s2.png' %}"></div>
                                    <div class="service__content">
                                        <h3 class="service__title color--white">Recruitments</h3>
                                        <p class="service__desc">Vsolve IT, we offer comprehensive recruitment services to help
                                            businesses find the right talent to meet their staffing needs,</p>
                                        <a href="recruitments.html" class="btn btn-fullwidth btn-shape-square">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-md--50">
                                <div class="service text-center bg-image" data-bgimage="{% static 'assets/img/bg/service-2.png' %}">
                                    <div class="service__icon"><img src="{% static 'assets/img/bg/s1.png' %}"></div>
                                    <div class="service__content">
                                        <h3 class="service__title color--white">Power Apps</h3>
                                        <p class="service__desc">Power Apps is a low-code development platform offered by Microsoft that
                                            allows users to build custom business applications without,</p>
                                        <a href="power-apps.html" class="btn btn-fullwidth btn-shape-square">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-md--50">
                                <div class="service text-center bg-image" data-bgimage="{% static 'assets/img/bg/service-3.png' %}">
                                    <div class="service__icon"><img src="{% static 'assets/img/bg/s3.png' %}"></div>
                                    <div class="service__content">
                                        <h3 class="service__title color--white">ServiceNow</h3>
                                        <p class="service__desc">ServiceNow is a cloud-based platform that offers a wide range of IT
                                            service management (ITSM) and business process automation solutions.</p>
                                        <a href="servicenow.html" class="btn btn-fullwidth btn-shape-square">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Services Areas End -->
                
                <!-- Feature Area Start -->
                <section class="feature-area position-relative">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 pt--95 pt-lg--80 pt-md--65 pb--100 pb-lg--80 pb-md--70">
                                <div class="section-title mb--45 mb-lg--30">
                                    <h2>Have a look on Our Industries</h2>
                                </div>
                                <ul class="list-with-icon mb--30">
                                    <li><a href="airlines.html">Airlines</a></li>
                                    <li><a href="banking.html">Banking</a></li>
                                    <li><a href="communications.html">Communications</a></li>
                                    <li><a href="energy-and-utilities.html">Energy and Utilities (E&U)</a></li>
                                    <li><a href="financial-services.html">Financial Services</a></li>
                                    <li><a href="healthcare-life-sciences.html">Healthcare & Life Scien</a></li>
                                    <li><a href="insurance.html">Insurance</a></li>
                                </ul>
                                <a href="contact.html" class="btn btn-hover-2">Let's Talk</a>
                            </div>
                            <div class="col-lg-6 col-12 d-none d-lg-block  bg-image">
                
                                <img src="{% static 'assets/img/bg/creative-blue-about-bg.jpg' %}" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Feature Area End -->
                
                <!-- Call To Action Area Start -->
                <section class="cta-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-8 mb--30">
                                <div class="section-title text-center text-lg-start">
                                    <h2 class="color--white">Build Your Career</h2>
                                    <p class="color--white">At Vsolve IT, we believe that our greatest asset is our talented and
                                        passionate team. We are always looking for exceptional individuals to join us on our journey of
                                        innovation and growth. If you are seeking a rewarding and challenging career in the technology
                                        industry, you've come to the right place.</p>
                                </div>
                            </div>
                            <div class="col-lg-4 text-center text-lg-end"><a href="career.html" class="btn">Read More</a></div>
                        </div>
                    </div>
                </section>
                <!-- Call To Action Area End -->

{% endblock %}