{% extends 'base.html' %}
{% block content %}
{% load static %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area bg-image" data-bgimage="{% static  'assets/img/bg/page-banner.jpg ' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title color--white">IT Outsource Services</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Services</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="blog-area pt--100 pt-lg--80 pt-md--70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 ml-auto order-lg-2 mb-md--70">
                            <!-- Blog Post Start -->
                            <div class="blog-post mb--30">
                                <div class="inner">
                                    <div class="post-info">                                        
                                        <div class="post-header">
                                            <h1 class="post-title">IT Outsource Services</h1>
                                        </div>
                                        <div class="post-content">	
											<p><span class="dropcap">V</span>solve IT,we offer comprehensive IT outsourcing services designed to help businesses optimize their IT infrastructure, streamline operations, and reduce costs. Our experienced team of IT professionals becomes an extension of your organization, providing reliable and efficient support for all your IT needs.</p>

											<p>Our IT outsourcing services cover a wide range of areas, including network administration, server management, help desk support, cybersecurity, and system maintenance. By outsourcing your IT requirements to us, you can focus on your core business activities while gaining access to our expertise and resources.</p>

											<p>With our network administration services, we ensure that your network infrastructure is properly configured, secured, and maintained. Our team monitors network performance, resolves issues promptly, and implements proactive measures to prevent disruptions.</p>
											
											<div class="post-thumbnail format-image">
												<img src="{% static 'assets/img/services/6.jpg' %}" alt="It Services">
											</div>
											
											<p>Our server management services encompass server setup, configuration, monitoring, and maintenance. We ensure that your servers are optimized for performance, scalability, and security, allowing your applications and systems to run smoothly.</p>

											<p>Our help desk support team is available to provide timely assistance to your employees and end-users, resolving their IT-related issues and inquiries. We offer both remote and on-site support, ensuring that technical problems are addressed promptly and efficiently.</p>
											
											<p>Cybersecurity is a top priority in today's digital landscape. Our IT outsourcing services include robust cybersecurity measures, such as implementing firewalls, intrusion detection systems, and antivirus solutions. We proactively monitor and respond to potential threats, safeguarding your systems and data from unauthorized access and cyber attacks.</p>
											
											<!-- <h2>MAGMA specializes in the following business consulting areas</h2>                                            
											<div class="row">
                                                <div class="col-md-6 col-12">

													<h2>Value Add</h2>					
													<ul class="list-with-icon mb--30">
														<li>Applying our versatile industry experience to key business functions</li>
														<li>Identifying areas of business impact & value</li>
														<li>Applying functional & technical expertise</li>
														<li>Master Data Management</li>
														<li>Customer Data Integration</li>
														<li>Enterprise Data Integration & Quality.</li>
													</ul>	
												
                                                </div>
                                                <div class="col-md-6 col-12">
													<h2>Areas</h2>					
													<ul class="list-with-icon mb--30">
														<li>Corporate Strategy and Planning</li>
														<li>Global Sales and Marketing</li>
														<li>Business solutions</li>
														<li>Business Transformation Services</li>
														<li>Cost & Productivity Optimization Services</li>
														<li>Product Lifecycle Optimization Services</li>
														<li>Process Excellence Services</li>
														<li>Operational Efficiency</li>
														<li>Performance Management</li>
														<li>IT Governance</li>
														<li>IT Process Transformation</li>
														<li>IT Operations & Service Management</li>
														<li>Risk and compliance</li>
													</ul>
                                                </div>
                                            </div> --> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <div class="sidebar-wrap">
                                <div class="sidebar-widget widget-border">
                                    <h4 class="widget-title">Our Services</h4>
                                    <div class="sidebar-widget-link">
                                        <ul>
											<li><a href="software-products.html">Product Engineer</a></li>
                                            <li><a href="servicenow.html">ServiceNow</a></li>
                                            <li><a href="atlassian.html">Atlassian</a></li>
                                            <li><a href="dynamic-three.html">Dynamics 365</a></li>
                                            <li><a href="power-apps.html">Power Apps</a></li>
                                            <li><a href="amazon-web-services.html">Amazon Web Services</a></li>
                                            <li><a href="azure.html">Azure</a></li>
                                            <li><a href="devops.html">Devops</a></li>
                                            <li><a href="sap-consulting.html">SAP Consulting</a></li>
                                            <li><a href="it-outsource.html">IT Outsource</a></li>
                                            <li><a href="it-consulting.html">IT Consulting</a></li>
                                            <li><a href="it-staffing.html">IT Staffing</a></li>
                                            <li><a href="recruitments.html">Recruitments</a></li>
                                            <li><a href="work-day.html">Work Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

{% endblock %}