{% extends 'base.html' %}
{% block content %}
{% load static %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area bg-image" data-bgimage="{% static  'assets/img/bg/page-banner.jpg' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title color--white">Power Apps</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Services</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="blog-area pt--100 pt-lg--80 pt-md--70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 ml-auto order-lg-2 mb-md--70">
                            <!-- Blog Post Start -->
                            <div class="blog-post mb--30">
                                <div class="inner">
                                    <div class="post-info">                                        
                                        <div class="post-header">
                                            <h1 class="post-title">Power Apps</h1>
                                        </div>
                                        <div class="post-content">	
											<p><span class="dropcap">P</span>ower Apps is a low-code development platform offered by Microsoft that allows users to build custom business applications without extensive coding knowledge. With Power Apps, individuals and teams can create web and mobile applications that solve specific business problems or automate manual processes.
											</p>
											
											<div class="post-thumbnail format-image">
												<img src="{% static 'assets/img/services/29.jpg' %}" alt="It Services">
											</div>
											
											<p>The platform provides a visual interface and a range of pre-built templates and components, making it easy for users to design and develop apps using a drag-and-drop approach. Power Apps supports various data sources, including Microsoft 365, SharePoint, Dynamics 365, and external systems, allowing users to connect to and leverage existing data.</p>
											<p>Power Apps offers two types of apps: canvas apps and model-driven apps. Canvas apps provide complete design flexibility, enabling users to create highly customized user interfaces and workflows. Model-driven apps, on the other hand, are built on a data model and provide a structured approach to app development, with predefined layouts and components.</p>
											<p>With Power Apps, users can create apps for various purposes, such as data entry forms, approval workflows, inventory tracking, employee onboarding, and customer engagement. These apps can be accessed on mobile devices, web browsers, or integrated directly into other Microsoft platforms like Teams and SharePoint.</p>

											
											<!-- <div class="row">
                                                <div class="col-md-12 col-12">
													<ul class="list-with-icon mb--30">
														<li><b>IT Service Management (ITSM):</b> ServiceNow provides a comprehensive set of ITSM capabilities to streamline and automate IT service delivery and support processes. This includes incident management, problem management, change management, service catalog, asset management, and service level management.</li>
														<li><b>IT Operations Management (ITOM):</b> ServiceNow's ITOM suite helps organizations gain visibility and control over their IT infrastructure and operations. It includes capabilities such as event management, infrastructure discovery, service mapping, cloud management, and configuration automation.</li>
														<li><b>IT Business Management (ITBM):</b> ServiceNow's ITBM solutions enable organizations to align their IT resources and investments with business priorities. It encompasses project portfolio management, resource management, demand management, financial management, and agile development.</li>
														<li><b>Customer Service Management (CSM):</b> ServiceNow CSM focuses on delivering exceptional customer service experiences. It provides tools for case management, self-service portals, knowledge management, and omni-channel support to help organizations enhance customer satisfaction and loyalty</li>
														<li><b>Human Resources Service Delivery (HRSD):</b> ServiceNow's HRSD solutions automate and streamline HR service delivery processes. This includes employee onboarding, case management, employee self-service portals, HR knowledge base, and HR process automation.</li>
														<li><b>Security Operations:</b> ServiceNow's Security Operations solution helps organizations detect, respond to, and resolve security incidents effectively. It includes capabilities like threat intelligence, vulnerability response, security incident response, and security operations analytics.</li>
														<li><b>Governance, Risk, and Compliance (GRC):</b> ServiceNow GRC solutions assist organizations in managing risks, complying with regulations, and implementing effective governance processes. It includes capabilities for policy and compliance management, risk management, audit management, and vendor risk management.</li>
														<li><b>Software Development Lifecycle (SDLC):</b> ServiceNow offers tools to streamline and automate the software development lifecycle. This includes agile development, release management, test management, and application portfolio management.</li>
														<li><b>Custom App Development:</b> ServiceNow provides a platform for building custom applications tailored to specific business needs. Organizations can create their own applications or extend the capabilities of ServiceNow's existing solutions.</li>
													</ul>	
												
                                                </div>
                                                 <div class="col-md-6 col-12">
													<h2>Areas</h2>					
													<ul class="list-with-icon mb--30">
														<li>Corporate Strategy and Planning</li>
														<li>Global Sales and Marketing</li>
														<li>Business solutions</li>
														<li>Business Transformation Services</li>
														<li>Cost & Productivity Optimization Services</li>
														<li>Product Lifecycle Optimization Services</li>
														<li>Process Excellence Services</li>
														<li>Operational Efficiency</li>
														<li>Performance Management</li>
														<li>IT Governance</li>
														<li>IT Process Transformation</li>
														<li>IT Operations & Service Management</li>
														<li>Risk and compliance</li>
													</ul>
                                                </div> 
                                            </div>  -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <div class="sidebar-wrap">
                                <div class="sidebar-widget widget-border">
                                    <h4 class="widget-title">Our Services</h4>
                                    <div class="sidebar-widget-link">
                                        <ul>
											<li><a href="product-engineer.html">Product Engineer</a></li>
                                            <li><a href="servicenow.html">ServiceNow</a></li>
                                            <li><a href="atlassian.html">Atlassian</a></li>
                                            <li><a href="dynamic-three.html">Dynamics 365</a></li>
                                            <li><a href="power-apps.html">Power Apps</a></li>
                                            <li><a href="amazon-web-services.html">Amazon Web Services</a></li>
                                            <li><a href="azure.html">Azure</a></li>
                                            <li><a href="devops.html">Devops</a></li>
                                            
                                            <li><a href="recruitments.html">Recruitments</a></li>
                                            <li><a href="work-day.html">Work Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

{% endblock %}