{% extends 'base.html' %}
{% block content %}
{% load static %}


        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area bg-image" data-bgimage="{% static 'assets/img/bg/page-banner.jpg' %}">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title color--white">Work Day</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li><span>Services</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Main Wrapper Start -->
        <main class="main-content-wrapper">
            <div class="blog-area pt--100 pt-lg--80 pt-md--70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 ml-auto order-lg-2 mb-md--70">
                            <!-- Blog Post Start -->
                            <div class="blog-post mb--30">
                                <div class="inner">
                                    <div class="post-info">                                        
                                        <div class="post-header">
                                            <h1 class="post-title">Work Day</h1>
                                        </div>
                                        <div class="post-content">	
											<p><span class="dropcap">V</span>solve IT, we offer comprehensive Workday services to help businesses optimize their human resources, payroll, and financial management processes. As a trusted Workday partner, we have a team of experienced consultants who are well-versed in the Workday platform and its modules, enabling us to deliver customized solutions tailored to our clients' unique needs.</p>
											
											<div class="post-thumbnail format-image">
												<img src="{% static 'assets/img/services/10.jpg' %}" alt="It Services">
											</div>
											
											<p>Our Workday services encompass a range of areas, including:</p>
											
											<p><b>Implementation:</b> We guide businesses through the entire implementation process, from initial planning to go-live and beyond. Our consultants work closely with your team to analyze your requirements, configure the Workday platform to align with your business processes, and ensure a seamless transition from legacy systems to Workday.<br>
											<b>Integration:</b> We specialize in integrating Workday with other systems and applications, such as payroll systems, time and attendance systems, and third-party software. Our experts ensure that data flows seamlessly between systems, eliminating manual data entry and improving overall efficiency.<br>
											<b>Customization:</b> We understand that each organization has unique requirements. Our consultants can customize the Workday platform to meet your specific needs, including creating custom reports, configuring workflows, and implementing additional functionality to address your business challenges.<br>
											<b>Upgrades and Enhancements:</b> As new features and updates are released by Workday, we help businesses navigate through upgrades and leverage the latest functionalities. Our consultants ensure a smooth transition to new versions, perform system testing, and assist with training to maximize the benefits of Workday's continuous innovation.<br>
											<b>Support and Maintenance:</b> We provide ongoing support and maintenance services to ensure that your Workday system operates smoothly. Our team is available to address any issues, answer questions, and provide guidance, allowing you to focus on core business activities while we handle the technical aspects of your Workday solution.</p>
											
											<!-- <h2>MAGMA specializes in the following business consulting areas</h2>                                            
											<div class="row">
                                                <div class="col-md-6 col-12">

													<h2>Value Add</h2>					
													<ul class="list-with-icon mb--30">
														<li>Applying our versatile industry experience to key business functions</li>
														<li>Identifying areas of business impact & value</li>
														<li>Applying functional & technical expertise</li>
														<li>Master Data Management</li>
														<li>Customer Data Integration</li>
														<li>Enterprise Data Integration & Quality.</li>
													</ul>	
												
                                                </div>
                                                <div class="col-md-6 col-12">
													<h2>Areas</h2>					
													<ul class="list-with-icon mb--30">
														<li>Corporate Strategy and Planning</li>
														<li>Global Sales and Marketing</li>
														<li>Business solutions</li>
														<li>Business Transformation Services</li>
														<li>Cost & Productivity Optimization Services</li>
														<li>Product Lifecycle Optimization Services</li>
														<li>Process Excellence Services</li>
														<li>Operational Efficiency</li>
														<li>Performance Management</li>
														<li>IT Governance</li>
														<li>IT Process Transformation</li>
														<li>IT Operations & Service Management</li>
														<li>Risk and compliance</li>
													</ul>
                                                </div>
                                            </div> --> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 order-lg-1">
                            <div class="sidebar-wrap">
                                <div class="sidebar-widget widget-border">
                                    <h4 class="widget-title">Our Services</h4>
                                    <div class="sidebar-widget-link">
                                        <ul>
											<li><a href="product-engineer.html">Product Engineer</a></li>
                                            <li><a href="servicenow.html">ServiceNow</a></li>
                                            <li><a href="atlassian.html">Atlassian</a></li>
                                            <li><a href="dynamic-three.html">Dynamics 365</a></li>
                                            <li><a href="power-apps.html">Power Apps</a></li>
                                            <li><a href="amazon-web-services.html">Amazon Web Services</a></li>
                                            <li><a href="azure.html">Azure</a></li>
                                            <li><a href="devops.html">Devops</a></li>
                                            
                                            
                                            
                                            
                                            <li><a href="recruitments.html">Recruitments</a></li>
                                            <li><a href="work-day.html">Work Day</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Wrapper End -->

{% endblock %}